---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/contactForm.astro";
const title = "Contact";
---

<Layout title={title}>
  <h1>{title}</h1>
<ContactForm />
</Layout>