---

import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
const title = "Home";
---

<Layout title={title}>
  <h1>Welcome!</h1>
  <section>
    <Images client: load/>
  </section>
</Layout>
