---
interface Image {
  src: string;
  title: string;
  desc: string;
  id: number;
}

const images: Image[] = [
  {
    src: "/DCS-home.png",
    title: "test img",
    desc: "Description of Image 1",
    id: 1,
  },

];
---

<section class="m-8">
  {
    images.map((image) => (
      <div>
        <img class="w-80 h-auto border-4 border-black" src={image.src} alt={image.title} />
        <h3>{image.title}</h3>
      </div>
    ))
  }
</section>
