---

---

<section>
  <div class="m-2 flex justify-end" id="navBar">
    <!-- Hamburger Menu for Small Screens -->
    <div
      class="cursor-pointer select-none rounded-md border-4 border-black bg-white px-16 py-4 text-3xl md:hidden"
      id="navHeader"
    >
      &#8801;
    </div>

    <!-- Horizontal Links for Larger Screens -->
    <div
      class="hidden items-center space-x-4 text-4xl md:flex"
      id="dropdownDesktop"
    >
      <a href="/" class="px-2 py-2 text-black hover:underline">Home</a>
      <a href="/about" class="px-2 py-2 text-black hover:underline">About</a>
      <a href="/gallery" class="px-2 py-2 text-black hover:underline">Gallery</a
      >
      <a href="/contact" class="px-2 py-2 text-black hover:underline">Contact</a
      >
    </div>

    <!-- Dropdown Menu for Small Screens -->
    <div
      class="absolute right-3 top-16 z-10 mt-5 hidden w-fit flex-col rounded-md border-2 border-black bg-white text-3xl md:hidden"
      id="dropdown"
    >
      <a
        href="/"
        class="block border-black px-2 py-2 text-black hover:rounded-md hover:bg-gray-300"
        >Home</a
      >
      <a
        href="/about"
        class="block border-t-2 border-black px-2 py-2 text-black hover:rounded-md hover:bg-gray-300"
        >About Me</a
      >
      <a
        href="/gallery"
        class="block border-t-2 border-black px-2 py-2 text-black hover:rounded-md hover:bg-gray-300"
        >Gallery</a
      >

      <a
        href="/contact"
        class="block border-t-2 border-black px-2 py-2 text-black hover:rounded-md hover:bg-gray-300"
        >Contact</a
      >
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navHeader = document.getElementById("navHeader");
    const dropdown = document.getElementById("dropdown");

    if (navHeader instanceof HTMLElement && dropdown instanceof HTMLElement) {
      navHeader.addEventListener("click", () => {
        dropdown.classList.toggle("hidden");
      });
    }
  });
</script>
