---

---

<div id="navBar">
  <nav id="navHeader">&#8801;</nav>
  <div id="dropdown">
    <a class="menu" href="/">Home</a>
    <a class="menu" href="/About">Age Calculator</a>
    <a class="menu" href="/Contact">Schedule Tracker</a>
  </div>
</div>
<script>
  function toggleDropdown() {
    const dropdown = document.getElementById("dropdown");
    if (dropdown) {
      dropdown.classList.toggle("show");
    } else {
      console.error("Dropdown element not found");
    }
  }

  document.addEventListener("click", (event) => {
    const isNavHeader =
      event.target.matches("#navHeader") || event.target.closest("#navHeader");
    if (isNavHeader) {
      toggleDropdown();
    }
  });
</script>
