---
---
<div>
<a href="#" class="m-1 rounded-xl p-2 text-4xl hover:bg-white">EX</a>
<a href="#"
  ><i
    class="fa-brands fa-square-instagram m-1 rounded-xl p-2 text-4xl hover:bg-white"
  ></i></a
></div>