---
interface Props {
  title: string;
}

const{ title } = Astro.props;
import Header from "../components/Header.astro";
---

<html  lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/5d2a9b059b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-br from-pink-200 to-pink-400 min-h-screen">
    <Header title={title} />
    <slot />
  </body>
</html>
